

html,
input,
select,
button {
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** Stærð á letri erfist frá foreldri í form element **/
input,
button,
select {
  font-size: inherit;
}

/** Almennt takka útlit, getur virkað á bæði <a> og <button> **/
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  font-size: 1rem;
  color: var(--color-background-primary);
  text-decoration: none;
  background-color: var(--color-background-secondary);
  border: 0;
  border-radius: var(--border-radius-regular);
}





/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 + verkefni 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body> sem á að fylgja þessu (<nav> ætti að vera undanskilið).
 */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--vertical-space);

  /* grid items eru miðjuð */
  justify-items: center;
  width: 100%;
  min-height: 100vh;

  /* pláss fyrir nav, það er nákvæmlega svona hátt */
  margin-top: var(--height-nav);
  background-color: var(--color-background-primary);
}




/** Meginmál og efni forsíðu **/

main {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--spacing);

  /* grid items eru miðjuð */
  justify-items: center;
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper main {
  flex: 1;
}

main > section {
  width: 100%;
}

/** Efnissíða **/

.content section {
  margin-bottom: var(--spacing);
}



